'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'JSDoc Preview'
    'submenu': [
      'label': 'Toggle Preview'
      'command': 'jsdoc-preview:toggle'
    ]
  ]
]

'context-menu':
  '.tree-view .file .name[data-name$=\\.js]':
    [ label: 'JSDoc Preview', command: 'jsdoc-preview:preview-file' ]
  '.tree-view .file .name[data-name$=\\.coffee]':
    [ label: 'JSDoc Preview', command: 'jsdoc-preview:preview-file' ]